
<div [ngStyle]="{
    background:'#eee',
    border:'4px solid red',
    padding:'12px'
  }"><!--se puede poner un estilo con condicion *.*-->
  <h1>
    Bienvenido a {{ title }}!
  </h1>
  <nav>
    <ul >
      <!--directiva router link es para que sepa a que ruta ir-->
      <li><a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a></li>
      <li><a [routerLink]="['/zapatillas']" [routerLinkActive]="['active']">Zapatillas</a></li>
      <li><a [routerLink]="['/videojuegos']" [routerLinkActive]="['active']">Videojuegos</a></li>
      <li><a [routerLink]="['/cursos']" [routerLinkActive]="['active']">Cursos</a></li>
      <li><a [routerLink]="['/externo']" [routerLinkActive]="['active']">Externo</a></li>
      <li><a [routerLink]="['/contact']" [routerLinkActive]="['active']">Contact</a></li>
    </ul>
  </nav>

  <router-outlet></router-outlet><!--esto se encarga de redirigir segun mis rutas definidas-->
</div>
